AddDefaultCharset UTF-8
RewriteEngine on

RewriteRule ^robots.txt$ index.php?feed=robots
RewriteRule ^rss/$ index.php?feed=rss
RewriteRule ^sitemap/$ index.php?feed=sitemap
RewriteRule ^category/([0-9]+)/$ index.php?category=$1
RewriteRule ^tag/(.*)/$ index.php?search=$1
RewriteRule ^page/(.*)/$ index.php?page=$1

ErrorDocument 404 /dg/404.php
